[submodule "04-2021-05-18-TUE/currency-converter"]
	path = 04-2021-05-18-TUE/currency-converter
	url = https://github.com/nkarl/jba-py-currency-converter
[submodule "05-2021-05-19-WED/simple-banking-system"]
	path = 05-2021-05-19-WED/simple-banking-system
	url = https://github.com/nkarl/jba-py-simple-banking-system
[submodule "11-2021-05-25-TUE/duplicate-file-handler"]
	path = 11-2021-05-25-TUE/duplicate-file-handler
	url = https://github.com/nkarl/jba-py-duplicate-file-handler
[submodule "11-2021-05-25-TUE/markdown-editor"]
	path = 11-2021-05-25-TUE/markdown-editor
	url = https://github.com/nkarl/jba-py-markdown-editor
[submodule "13-2021-05-27-THU/numeric-matrix-processor"]
	path = 13-2021-05-27-THU/numeric-matrix-processor
	url = https://github.com/nkarl/jba-py-numeric-matrix-processor
[submodule "18-2021-06-01-TUE/regex-engine"]
	path = 18-2021-06-01-TUE/regex-engine
	url = https://github.com/nkarl/jba-py-regex-engine
[submodule "31-2021-06-14-MON/data-analysis-pandas"]
	path = 31-2021-06-14-MON/data-analysis-pandas
	url = https://github.com/nkarl/jba-py-data-analysis-pandas
[submodule "23-2021-06-06-SUN/weather-app-flask"]
	path = 23-2021-06-06-SUN/weather-app-flask
	url = https://github.com/nkarl/jba-py-weather-app-flask
[submodule "30-2021-06-13-SUN/web-scraper"]
    path = 30-2021-06-13-SUN/web-scraper
    url = https://github.com/nkarl/jba-py-web-scraper
[submodule "33-2021-06-16-WED/foodblog-backend"]
	path = 33-2021-06-16-WED/foodblog-backend
	url = https://github.com/nkarl/jba-py-foodblog-backend
[submodule "testing_ground"]
	path = testing_ground
	url = https://github.com/nkarl/jba-py-testing-ground
